body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Título principal */
h1 {
    color: #bc0a24;
    text-shadow: 2px 2px #000000;
    font-size: 80px;
    font-weight: bold;
    margin: 5%;
    
}

/* Subtítulo */
h2 {
    font-size: 40px;
    color: rgb(42, 36, 36);
    text-shadow: 2px 2px #000000;
    margin: 0;
    margin-top: -10%
}

/* Encabezado para "Procesos" */
h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

/* Botones de Procesos */
.shop-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.shop-content a {
    text-decoration: none;
    color: white;
    
}

.button {
    background-color: #bc0a24;
    color: white;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    
}

.button:hover {
    background-color: #8a0000;
}

/* Fondo de pantalla */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(img/_3cc6c16f-56e8-430c-bfd6-0fc8bf61260b.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #fff; 
}